In [1]:
x= "hello world" 
print(x)

hello world

In [2]:
git remote add origin https://github.com/darthspoosky/testcodepractice.git
git push -u origin master

SyntaxError: invalid syntax (<ipython-input-2-0d8e0ce3b2b7>, line 1)

In [3]:
print("hello world")

hello world

In [2]:
print ("HEllo World")

HEllo World

In [4]:
pip install pygame

Collecting pygame
  Downloading https://files.pythonhosted.org/packages/32/37/453bbb62f90feff2a2b75fc739b674319f5f6a8789d5d21c6d2d7d42face/pygame-1.9.6-cp37-cp37m-macosx_10_11_intel.whl (4.9MB)
     |████████████████████████████████| 4.9MB 958kB/s eta 0:00:01
Installing collected packages: pygame
Successfully installed pygame-1.9.6
Note: you may need to restart the kernel to use updated packages.

In [1]:
i = 10
print(i)

10

In [ ]:
# how to write comments in python
print("that's how you comment in pyhton")
#when "#" is included in a string. 
print("Hello # world")
"# with in a string"
#types of comments
#1. single line - use # for every line. 
#2. Multi line comments - type your comments first and use control and left click

In [13]:
a =2 
b= 3
c = a+b

In [19]:
print(a+b)

8

In [21]:
"""
#docstings
#they are not omitted by an interpreter. 
#they descirbe something about the code. 
#it is not same as comment
#placing before the code starts
"""
a = 5
b = 3
a+b

#after some code

a*b
"""
#docstings
#they are not omitted by an interpreter. 
#they descirbe something about the code. 
#it is not same as comment
#placing before the code starts
"""

'\n#docstings\n#they are not omitted by an interpreter. \n#they descirbe something about the code. \n#it is not same as comment\n#placing before the code starts\n'

In [26]:
#variables and data types

"""
just declare the variables 
ans assign some values to it. 
"""
#variables are case sensitive
x = 100
y = "pot"
print(x)
print (y)
print(x +y)

100
pot

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
x = 100
y = 200
print(x+y)
print( x- y)
print (abs(x-y))
print(x/y)
print(x % y)

300
-100
100
0.5
100

In [27]:
# there are six datatypes present in python 
"""
1. numbers- interger float(decimal) complex(add j as imaginary part ) boolean
2. string
3. List 
4. Dictionary 
5. Tuple 
6. Set
7. Range - used for for loops

"""
#type(var_name) is used to determine the type of the variable.

'\n1. numbers.\n2. string\n3. List \n4. Dictionary \n5. Tuple \n6. Set\n\n'

In [31]:
x = 100
type(x)

int

In [29]:

y = 100.1
type(y)

float

In [30]:

z = 100j
type(z)

complex

In [32]:
num = 10 > 9
type(num)

bool

In [33]:
print(num)

True

In [34]:
""" string data types
to check length of a string
use len(var_name)
to access values form a string 
use var_name with []
eg. var_name[]




"""

' string data types\n\n\n\n\n\n'

In [37]:
a = 'hello'
b = "world"
c = input()
d = ("here is an example", a, b, c)
print (d)

star wars
('here is an example', 'hello', 'world', 'star wars')

In [38]:
len(a)

5

In [39]:
len(b)

5

In [41]:
len(c)

9

In [42]:
len(d)

4

In [43]:
d[1:4]

('hello', 'world', 'star wars')

In [44]:
d[1]

'hello'

In [45]:
d[2]

'world'

In [46]:
d[3]

'star wars'

In [49]:
a[2]

'l'

In [50]:
e = "a[2]"+"b[3]"

In [51]:
print(e)

a[2]b[3]

In [55]:
# to update the value in a string 
# we can't string are immutable. So, we can't change it. That's what I know so far. 
# how to make upper case
# use - sign to access from the other end or from the end. 
e = a.upper()
print (e)

HELLO

In [56]:
f = e.lower()
print(f)

hello

In [59]:
"""
List 
use [] to access the list. eg. mylist = [ *contains values*]
we can access integers and string in list.
update vlaues in list by using index number 
mylist[2] = 35

to add another value to the list. 
use mylist.append(value)
"""

In [70]:
mylist = [10, 20, 30, 30, 40]
mylist
mylist[4] = 60
mylist

[10, 20, 30, 30, 60]

In [67]:
zz = mylist[1] + mylist[2]
print (zz)

50

In [72]:
# appending the list by adding new value at the end.
mylist.append(60)
mylist

[10, 20, 30, 30, 60, 60]

In [77]:
#inserting a new number in palce of something else 
mylist.insert(1,90)
mylist

[10, 90, 90, 90, 20, 90, 90, 30, 30, 60, 60]

In [81]:
#we can reverse the list by using mylist.reverse
#eg,mylist.reverse()
mylist.reverse()

In [82]:
mylist

[10, 90, 90, 90, 20, 90, 90, 30, 30, 60, 60]

In [83]:
mylist.reverse()

In [84]:
mylist

[60, 60, 30, 30, 90, 90, 20, 90, 90, 90, 10]

In [85]:
"""dictionary is like a list but it is unordered, changable and no duplicate entries can be present
use {} to define the dictionary. 
eg. mydict = {}
it includes a key value and the corresponding value. 


"""

'dictionary is like a list but it is unordered, changable and no duplicate entries can be present'

In [86]:
mydict = {1 : 'python',
         2 : 'mock',
         3 : 'test',
         'four' : 'hour'}

In [87]:
mydict

{1: 'python', 2: 'mock', 3: 'test', 'four': 'hour'}

In [88]:
mydict[1]

'python'

In [89]:
mydict[2]

'mock'

In [90]:
mydict.get(3)

'test'

In [91]:
#to update a value in the dict
#same as list

In [101]:
#other data types in pyhton
#namedtuple
# chainmap can be used to combine the dictionary 

#ordered dictionary is also useful



from collections import namedtuple
a = namedtuple('fruits', 'animals, places')
s = a('banana', 'kiwi')
print(s)
#contains some error needs to be checked for the reason.

fruits(animals='banana', places='kiwi')